@font-face {
    font-family: 'Proxima-Nova-Soft-Bold';
    src: url('fonts/proxima_nova_soft_bold-webfont.eot');
    src: url('fonts/proxima_nova_soft_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_soft_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_soft_bold-webfont.woff') format('woff'),
         url('fonts/proxima_nova_soft_bold-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_soft_bold-webfont.svg#proxima_nova_softbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima-Nova-Soft-Regular';
    src: url('fonts/proxima_nova_soft_regular-webfont.eot');
    src: url('fonts/proxima_nova_soft_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_soft_regular-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_soft_regular-webfont.woff') format('woff'),
         url('fonts/proxima_nova_soft_regular-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_soft_regular-webfont.svg#proxima_nova_softregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnesbold';
    src: url('fonts/omnes-bold-webfont.eot');
    src: url('fonts/omnes-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/omnes-bold-webfont.woff2') format('woff2'),
         url('fonts/omnes-bold-webfont.woff') format('woff'),
         url('fonts/omnes-bold-webfont.ttf') format('truetype'),
         url('fonts/omnes-bold-webfont.svg#omnesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "togetheroo";
  src:url("fonts/togetheroo.eot");
  src:url("fonts/togetheroo.eot?#iefix") format("embedded-opentype"),
    url("fonts/togetheroo.woff") format("woff"),
    url("fonts/togetheroo.ttf") format("truetype"),
    url("fonts/togetheroo.svg#togetheroo") format("svg");
  font-weight: normal;
  font-style: normal;
}