$footer-height: 180px;
$header-height: 55px;

$playspace-hud-z-index: 1010;
$modal-z-index: 10000;
$shepherd-z-index: 3000;

$subtle-bottom-box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, .4);
$flat-shadow-size: 8px;
